{% extends 'base.html' %}

{% block title %}Home - Sistema Solar{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Bem-vindo ao Sistema Solar</h1>
    <div class="card-container">
        <div class="card">
            <h2>Pessoa Física</h2>
            <p>Cadastre-se como Pessoa Física</p>
            <a href="{% url 'pf_Cadastro' %}" class="btn">Cadastre-se</a>
        </div>

        <div class="card">
            <h2>Pessoa Jurídica</h2>
            <p>Cadastre-se como Pessoa Jurídica</p>
            <a href="{% url 'pj_Cadastro' %}" class="btn">Cadastre-se</a>
            
        </div>
    </div>
</div>
{% endblock %}